.main-ex {
  height: 2560px;
  width: 1440px;
  background-color: rgba(14, 29, 160, 0.6499999761581421);
}
.btn {
  height: 608px;
  width: 672px;
  background-color: #ffffff;
}
.text-1 {
  text-align: center;
  vertical-align: middle;
  font-size: 150px;
  font-family: Noto Sans;
  line-height: auto;
  color: #ffffff;
}
.btn {
  height: 608px;
  width: 672px;
  background-color: #ffffff;
}
.text-2 {
  text-align: center;
  vertical-align: middle;
  font-size: 150px;
  font-family: Noto Sans;
  line-height: auto;
  color: #ffffff;
}
.img-3 {
  height: 288px;
  width: 288px;
  background-color: #ffffff;
}
.img-4 {
  height: 288px;
  width: 288px;
  background-color: #ffffff;
}
.btn {
  height: 608px;
  width: 672px;
  background-color: #ffffff;
}
.text-5 {
  text-align: center;
  vertical-align: middle;
  font-size: 150px;
  font-family: Noto Sans;
  line-height: auto;
  color: #ffffff;
}
.text-6 {
  text-align: center;
  vertical-align: middle;
  font-size: 150px;
  font-family: Noto Sans;
  line-height: auto;
  color: #ffffff;
}
.img-7 {
  height: 288px;
  width: 288px;
  background-color: #ffffff;
}
.btn {
  height: 608px;
  width: 672px;
  background-color: #ffffff;
}
.text-8 {
  text-align: center;
  vertical-align: middle;
  font-size: 150px;
  font-family: Noto Sans;
  line-height: auto;
  color: #ffffff;
}
.search {
  height: 288px;
  width: 288px;
}
.boundingbox {
  height: 288px;
  width: 288px;
  background-color: #d9d9d9;
}
.frame-1 {
  height: 983px;
  width: 983px;
  background-color: #ffffff;
}
.ellipse-2-3 {
  height: 983px;
  width: 983px;
}
.img-9 {
  height: 792px;
  width: 344px;
}
