<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue Quick Start</title>
</head>
<body>
  <!-- 2. 선언적 렌더링 -->
  <h2>선언적 렌더링</h2>
  <div id="app">
    {{ message }}
  </div>
  <!-- 3. 엘리멘트 속성 바인딩 -->
  <h2>Element 속성 바인딩</h2>
  <div id="app2">
    <span v-bind:title="message">
      내 위에 잠시 마우스를 올리면 동적으로 바인딩 된 title을 볼 수 있습니다.
    </span>
  </div>
  <!-- 4. 조건 -->
  <h2>조건</h2>
  <div id="app3">
    <p v-if="seen">보인다.</p>
  </div>
  <!-- 5. 반복 -->
  <h2>반복</h2>
  <div id="app4">
    <ol>
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ol>
  </div>
  <!-- 6. 사용자 입력 핸들링 -->
  <h2>사용자 입력 핸들링</h2>
  <div id="app5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">reverse</button>
  </div>

  <div id="app6">
    <p>{{ message }}</p>
    <input v-model="message">
  </div>
  
  <!-- 1. Vue CDN -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    // 2. 선언적 렌더링
    const app = new Vue({
      el: '#app',
      data: {
        message: '안녕',
      }
    })
    // 3. 엘리먼트 속성 바인딩
    const app2 = new Vue({
      el: '#app2',
      data:{
        message: '이 페이지는'+ new Date() + '에 로드'
      }
    })
    // 4. 조건
    const app3 = new Vue({
      el: '#app3',
      data: {
        seen: true
      }
    })
    // 5. 반복
    const app4 = new Vue({
      el: '#app4',
      data:{
        todos: [
          { text: 'JS'},
          { text: 'DJANGO'},
          { text: 'HTML'}
      ] 
      }
    })
    // 6. 사용자 입력 핸들링
    const app5 = new Vue({
      el: '#app5',
      data: {
        message: '안녕 vue.js'
      },
      methods: {
        reverseMessage: function() {
          this.message = this.message.split('').reverse().join('')
        }
      }
    })

    const app6 = new Vue({
      el: '#app6',
      data: {
        message: '안녕 Vue',
      }
    })
  </script>
</body>
</html>
