<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <h2> 1. input -> Data</h2>
    <h3>{{ myMessage }}</h3>
    <input @input="onInputChange" type="text">

    <h2>1. input<-> Data</h2>
    <h3>{{ myMessage }}</h3>
    <input v-model="myMessage2" type="text">

    <h2>3. Checkbox </h2>
    <input type="checkbox" v-model="checked" id="checkbox">
    label
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const app =  new Vue({
      el:'#app',
      data: {
        myMessage:'',
        myMessage2: ''
      },
      methods:{
        onInputChange: function(event){
          this.myMessage = event.target.value
        }
      }
    })
  </script>
</body>
</html>
